body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 800px;
    margin: 70px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 70px;
    margin: 30px auto;
    border-radius: 30px;
    color: #ffff;
    background: rgb(43, 43, 43);
    padding: 17px;
    width: 70%;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 13px;
}

input, select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #007bff;
    background: #fff;
    outline: none;
}

input::placeholder {
    font-style: italic;
    font-size: 14px;
    opacity: .5;
}
textarea {
    height: 50px;
}
textarea::placeholder {
    font-style: italic;
    font-size: 14px;
    opacity: 0.5;
}

.error {
    display: inline-block;
    color: red;
    font-size: 0.875em;
    font-size: 12px;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.3s forwards;
}

.invalid {
    border: 1px solid red;
}

.invalid:focus {
    border-color: darkred;
}

#globalError {
    display: none;
    color: red;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid red;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fdd;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.5s forwards;
}

.flash-message {
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Block des notes */
.notes-container {
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.note-input {
    padding: 10px;
    font-size: 0.95rem;
    color: #333;
    resize: none;
    margin-bottom: 10px;
}

.add-note-button {
    padding: 8px 15px;
    font-size: 0.9rem;
    width: 150px;
    color: #ffff;
    background-color: #005691;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-note-button:hover {
    background-color: #01426d
}

.notes-section {
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #fff;
}
.notes-table {
    width: 100%;
    border-collapse: collapse;
}

.notes-table thead {
    background-color: #f4f4f4;
}

.table-header {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
}

.notes-table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

.notes-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.notes-table tbody tr:hover {
    background-color: #f1f7ff;
}

.notes-table td {
    padding: 10px 15px;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid #e0e0e0;
}

.notes-table .date-cell {
    width: 20%;
    color: #444;
}

.notes-table td:last-child {
    width: 15%;
    text-align: center;
}

.notes-table td button {
    background-color: #e74c3c;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.notes-table td button:hover {
    background-color: #c0392b;
}

.notes-table td textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    font-family: Arial, sans-serif;
}

.notes-table td textarea:focus {
    outline: none;
    border-color: #005691;
    box-shadow: 0 0 4px rgba(0, 86, 145, 0.5);
}

.date-cell {
    font-weight: 300;
}

.edit-input {
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}



/* Upload documents */
.preview-both {
    display: flex;
    align-items: start;
    margin-top: 10px;
    gap: 10px;
}

.preview-both img {
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    object-fit: cover;
}
.preview-both img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 70px;
    color: white;
    cursor: pointer;
}


/* Animation fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation fadeOut */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

input,
select {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: .9rem;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

input:focus,
select:focus {
    border-color: #007bff;
    font-size: 1rem
}


.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

button.submit-button:active {
    background: #003f7f;
}

/* Animation d'entrée lors du focus */
.input-focused {
    border-color: #007bff; /* Couleur bleu clair pour le focus */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    color: rgba(0, 0, 0, 0.6); /* Texte légèrement pâle */
    transition: all 0.3s ease-in-out; /* Transition fluide */
}

/* Animation lorsqu'un champ est rempli */
.input-filled {
    background-color: #f9f9f9; 
    color: rgba(49, 49, 49, 0.7);
    transition: all 0.3s ease-in-out;
}

/* Transition fluide pour tous les champs */
input,
select,
textarea {
    transition: all 0.3s ease-in-out;
}

/* Champ par défaut */
input,
textarea {
    color: rgba(0, 0, 0, 1); /* Couleur normale du texte */
    background-color: #ffffff; /* Couleur de fond par défaut */
}

/* Animation de texte plus pâle sur le focus */
.input-focused::placeholder {
    color: rgba(0, 0, 0, 0.4); /* Placeholder plus pâle */
    transition: color 0.3s ease-in-out;
}



@media (max-width: 768px) {
    .form-row {
        grid-template-columns: 1fr;
    }
    .form-container {
        padding: 15px;
    }
    h1 {
        font-size: 1.5rem;
    }
    .submit-button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 10px;
    }
    .submit-button {
        padding: 8px;
        font-size: 12px;
    }
    h1 {
        font-size: 1.2rem;
    }
}